<!doctype html>
<html lang="en">

<head>
    <title>Weather App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="shortcut icon" href="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/75176/sun-icon-clipart-xl.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <fieldset>
            <!-- On this page, indicating login before access to weather -->
            <form action="/login/weather" method="post">
                <!-- Input city to get weather -->
                <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
                <input type="submit" class="ghost-button" value="Get Weather">
            </form>
        </fieldset>
        <!-- Check if weather has data -->
        <%if( weather !== null){ %>
            <div class="card">
                <div class="card card-accent-dark mb-3">

                    <!-- Display city of interest -->
                    <h4 class="card-header">Current Weather for <%= place %></h4>
                    <div class="card-body text-dark">

                        <!-- Display weather icon -->
                        <center><img src="<%= icon %>" alt="Weather-Icon"></center>
                        
                        <!-- Display weather info -->
                        <h5 class="card-title">Weather Conditions: 
                            <p class="card-text">
                                <%= description %>
                            </p>
                        </h5>
                        
                        <h5 class="card-title">Temperature: 
                            <p class="card-text">
                                <%= temp %>°C |
                                    <%= fahrenheit %>°F
                            </p>
                        </h5>

                        <h5 class="card-title">Feels Like: 
                            <p class="card-text">
                                <%= feelTemp %>°C |
                                    <%= fahrenheitFeel %>°F
                            </p>
                        </h5>

                        <h5 class="card-title">High in Area: 
                            <p class="card-text">
                                <%= high %>°C |
                                    <%= fahrenheitHigh %>°F
                            </p>
                        </h5>
                        
                        <h5 class="card-title">Low in Area: 
                            <p class="card-text">
                                <%= low %>°C |
                                    <%= fahrenheitLow %>°F
                            </p>
                        </h5>

                        <h5 class="card-title">Cloudcover: 
                            <p class="card-text">
                                <%= clouds %>%
                            </p>
                        </h5>
                        
                        <h5 class="card-title">Humidity: 
                            <p class="card-text">
                                <%= windspeed %>%
                            </p>
                        </h5>
                        
                        <h5 class="card-title">Windspeed: 
                            <p class="card-text">
                                <%= windspeed %> m/s |
                                    <%= mphWind %> mph
                            </p>
                        </h5>

                        <h5 class="card-title">Sunrise: 
                            <p class="card-text">
                                <%= sunrise %>
                            </p>
                        </h5>

                        <h5 class="card-title">Sunset: 
                            <p class="card-text">
                                <%= sunset %>
                            </p>
                        </h5>

                    </div>
                </div>
            </div>

            <% } %>
                <% if(error !== null){ %>
                    <p>
                        <%= error %>
                    </p>
            <% } %>

    </div>
</body>

</html>